body{
color: white;
}

main{
height: auto;
}

.about{
width: 100%;
height:auto;
padding: 78px 0px;
}

.about img{
height: auto;
width: 420px;
border-radius: 4px;
}

.abouttxt{
width: 600px;

}

.mainct{
width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}

.abouttxt h1{
color: inherit;
font-size: 40px;
text-transform: capitalize;
}

.abouttxt h5{
color: inherit;
font-size: 20px;
text-transform: capitalize;
letter-spacing: 4px;
}

.abouttxt p{
letter-spacing: 1px;
line-height: 24px;
margin-bottom: ;
}