body{
color: white;
}

main{
height: auto;
max-width: 100%;
}

.contactct{
margin: 0 auto;
height: auto;
background-color: azure;
padding: 80px 0px;
max-width: 80%;
}

.contact{
height: 100%;
width: 100%;
min-height: 100vh;
display: grid;
grid-template-columns: repeat(2, 2fr);
align-items: center;
grid-gap: 6rem;
}

.contactct h1{
text-align: center;
text-transform: capitalize;
}

.contact-form{
float: left;
width: 1800px;
background-color: blue;
max-width: 50%;
}

.faq{
float: right;
background-color: blueviolet;
width: 1800px;
max-width: 50%;
}