main{
width: 1500px;
max-width: 80%;
height: auto;
}

.PageCt{
width: 1500px;
max-width: 100%;
display: flex;
margin-bottom: 1.8em;
}

.contactctn{
width: 800px;
max-width: 50%;
padding: 0px;
justify-items: center;
}

.contactctn h2{
text-align: center;
margin-bottom: 10px;
}

.faqctn{
width: 800px;
max-width: 50%;
padding: 0px 20px;
}

.faqctn h2{
text-align: center;
margin-bottom: 10px;
text-transform: capitalize;
}

.faqdropdown{
border-bottom: 1px solid #ddd;
padding: 10px 0;
width: 1000px;
max-width: 80%;
margin: 0 auto;
}

.faq-qs{
background: none;
border: none;
width:1000px;
max-width: 100%;
cursor: pointer;
padding: 10px;
align-items: center;
text-align: left;
justify-content: space-between;
display: inline;
color: inherit;
text-transform: capitalize;
}

.active, .faq-qs:hover{/*applies when element is currently clicked and hovered. Can change the hover element to active if necessary*/
color: #7B4DDD;
}

.faq-qs:after{
content: '\002B';/*inserts content after specified element*/
float: right;
}

.active:after{
content: '\2212';
}

.faqd-content{
padding: 10px;
font-size: 14px;
text-align:justify;
color: #555;
overflow: hidden;
max-height: 0;
transition: max-height 0.3s ease;
padding: 0 10px;
}

form{
width: 80%;
}

form span,
form input,
form textarea{
border-radius: 4px;
margin: 0 auto;
width: 80%;
margin-bottom: 0.2em;
}


form input:focus,
form textarea:focus{
outline:invert;
box-shadow: 0px 0px 5px #000000;
}

form textarea{
margin-top: 1.5em;
}

form span,
form input,
form textarea,
button{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
text-align: center;
}

.contactctn button{
margin-top: 1em;
margin-bottom: 1em;
cursor: pointer;
padding: 12px 18px;
background-color: #5D2DC4;
color: white;
border-radius: 20px;
text-transform: capitalize;
font-weight: bold;
border: 2px solid transparent;
margin: 0 auto;
margin-top: 1em;
}

.contactctn button:hover{
background-color: transparent;
border: 2px solid #5D2DC4;
transition: 0.5s;
color: white;
}

@media (max-width: 768px) {
  .PageCt {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contactctn, .faqctn {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }
}