html {
font-size: 14px; /* px means "pixels": the base font size is now 10 pixels high */
font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
background-color: black;
}

body {
margin: auto;
max-width: 80%;
min-height: 100vh;
display: flex;
flex-direction: column;
border-radius: 8px; /*rounds edges*/
justify-content: center;
align-items: center;
background-color: black;
}


.slogo{
width:100px;
height: auto;
border-radius: 8px;
display: inline;
float: left;
margin-top: 0.5rem;
margin-left: 0.5rem;
padding: 0;
}

.dropdown{
position: relative;
display: inline-block;
}

.BLinks a { 
display: inline-block;
text-align: center;
flex: 1;
padding: 6px 16px;
font-size: 16px;
border: none;
border-radius: 8px;
cursor: pointer;
}

.BLinks{
float: right;
background-color: black;
color: white;
}

a{
text-decoration: none;
color: inherit;/*takes the colour which the page is using*/
}

.BLinks a:is(:link, :active :visited).active{/*:not function applied in JS code*/
text-shadow: 2px 2px 2px #000000;
background: linear-gradient(0deg,#5D2DC480,transparent);
border-bottom: 2px;
border-bottom-style: solid;
border-bottom-color: #5D2DC4;

}

.BLinks a:visited{
border-bottom: solid #5D2DC4;
}

.BLinks a:hover:not(.dropdown-content a){
color: #5D2DC4;
text-shadow: 2px 2px 2px #000000;
border-bottom: 4px solid #5D2DC4;
background: linear-gradient(0deg,#5D2DC480,transparent);
transition: 0.25s;
}



.dropdown-content{
display:none;
position: absolute;
color:white;
background-color: black;
border-radius: 8px;
}

.dropdown-content a{
padding: 6px 1px;
display:block;
font-weight: bold;
font-size: 12px;
border-radius: 4px;
}

.dropdown-content a:hover {
background-color: #5D2DC480;
color: white;
}

.dropdown:hover .dropdown-content{
display: block;
}

.dropdown .dropdbtn:hover i.fa-caret-down::before {/*caret change upon hover*/
transform: rotate(180deg);
display: inline-block;
}

.show {
display: block;
}

header{
top: 0;
position: fixed; /*If I change to sticky, will need to alter width to 100%. Absolute is fine on its own.*/
padding-bottom: 14px;
/*border: /*solid 1px white; in case I want to add a border colour around the header*/
max-width: 80%;
}


.hbr{
position: absolute;
top: 0;
margin-top: 6.8em;
height: 1px;
width: 100%;
background-color:  #5D2DC4;
}

footer{
bottom: 0;
text-align: center;
position: fixed; /* footer will remain in view with fixed position as I scroll. Can remove this or change to static or relative if I want footer to remain at the end of page and unseen, will need to adjust width to 100% if so*/
}

header, footer{
background-color: black;
width: 100%;
}